<div class="blog">
  <div class="title">
    <h2><%=title%></h2>
    <span class="time"><%=Date(updated_at).toLocaleString()%></span>
  </div>
  <hr />
  <div class="content-wrapper">
    <div class="content"><%-content%></div>
  </div>
  <input
    type="button"
    class="u-full-width button-primary"
    value="Read more..."
  />
</div>
