<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <% css_links.forEach(css=>{ %>
      <% if (css) { %>
        <link rel="stylesheet" href=<%= css %>>
      <% } %>
      <%})%>
    <link rel="stylesheet" href="/css/skeleton.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/footer.css" />

    <title><%= title %></title>
    <script src="https://cdn.jsdelivr.net/npm/lazyload@2.0.0-rc.2/lazyload.min.js"></script>
    <script>
      const images = document.querySelectorAll('img')
      lazyload(images)
    </script>
  </head>