<div class="nav-wrapper">
  <nav class="container row">
    <div class="four nav-item columns mobile-nav">
      <img class="brand" src="/images/brand.svg" alt="" />
      <span class="brand-text">
        <a href="/">BasicBlog</a>
      </span>
    </div>
    <div class="burger-container">
      <input type="checkbox" id="burger-toggle" />
      <label for="burger-toggle" class="burger">
        <span class="slice"></span>
        <span class="slice"></span>
        <span class="slice"></span>
      </label>

      <div class="drawer">
        <div class="nav-list">
          <!--user not logged in-->
          <a class="secondary-btn" href="/">Home</a>
          <% if (!user) {%>
          <a class="secondary-btn" href="/login">Login</a>
          <a class="primary-btn" href="/signup">Sign Up</a>
          <%} else {%>
          <!-- user logged in: -->
          <a class="secondary-btn" href="#"><%=user.user_name%></a>
          <a class="secondary-btn" href="/create">Create Blogs</a>
          <a class="secondary-btn" href="#">Your Blogs</a>
          <a href="/logout" class="secondary-btn">logout</a>
          <%}%>
        </div>
      </div>
    </div>
    <div class="four nav-item columns nav-gap"></div>

    <% if (!user) { %>
     
    <a href="/login" class="two columns nav-item login secondary-btn"
      >Login</a
    >
    <a href="/signup" class="two columns nav-item signup primary-btn">
      Sign Up
    </a>
    <% } else { %>

    <div class="nav-item profile-wrapper two columns dropdown">
      <span class="profile"><%=user.user_name%></span>
      <div class="dropdown-content">
        <a href="#">Profile</a>
        <hr />
        <a href="/create">Create Blogs</a>
        <hr />
        <a href="#">Your blogs</a>
      </div>
    </div>
    <a
      href="/logout"
      class="two columns logout nav-item secondary-btn"
      >Logout</a
    >
    <%}%>
  </nav>
  <hr />
