<div class="container">
  <nav class="row">
    <div class="four nav-item columns">
      <img class="brand" src="images/brand.svg" alt="" />
      <span class="brand-text">BasicBlog</span>
    </div>
    <!-- <div class="nav-item two columns"></div> -->
    <div class="four nav-item columns nav-gap"></div>
    <div class="two columns nav-item secondary-btn">Login</div>
    <div class="two columns nav-item primary-btn">Sign Up</div>
    <!-- <div class="dropdown nav-item two columns">marisa &#9660;</div> -->
  </nav>
</div>
