  <%- include("partials/head.ejs",{title:"BasicBlog", css_links:[
    "css/index.css","css/blog_card.css","https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.7.0/styles/default.min.css"
  ]}); 
  
  %>
  <body>
    <%- include("partials/navbar.ejs", {user}) %>
    <div class="blog-wrapper">
      <%if (data===null || !data?.length) {%>
      <div class="empty">Wow such empty</div>
      <%} else { data.map(blog=>{%>
        <%-include("partials/blog_card.ejs", blog)%>
        <%})}%>
    </div>
  </div>

    <%- include("partials/footer.ejs") %>

