  <%- include("partials/head.ejs", {title:"login",css_links:[
  "css/signup.css"
]}) %>
  <body>
    <%- include("partials/navbar.ejs", {user}) %>
      <form class="signup-form-wrapper" action="/login" method="post">
        <div class="row">
          <div class="twelve columns">
            <label
              class="" for="username"
              >Username
                  <span class="error-text"></span>
              </label
            >
            <input 
            class="u-full-width"
            type="text" name="username" id="username" required />
          </div>
          <label
          for="pswd">Password
            <span class="error-text">
            </span>
        </label>
          <input
            class="u-full-width"
            type="password"
            name="pswd"
            id="pswd"
            required
          />
          <input
            type="submit"
            class="button-primary u-full-width"
            value="login"
          />
          <span class="loading hide">Loading...</span>

        </div>
      </form>
    </div>
    





    <script>
      const form = document.forms[0]
      const el = {
        label_username:document.querySelector("label[for='username']"),
        label_pswd:document.querySelector("label[for='pswd']"),
        submit_button:form.querySelector("input[type='submit']"),
        loading:document.querySelector(".loading")
      }
      form.addEventListener("submit", (e)=>{
        e.preventDefault()
        const data = {
          username:form.username.value,
          pswd:form.pswd.value
        }
        if (data.pswd.length < 5) {
          el.label_pswd.querySelector("span").innerHTML = "too short (*password is minimum 5 characters)"
          return
        }
        el.label_pswd.querySelector("span").innerHTML = ""
        el.label_username.querySelector("span").innerHTML = ""
        el.submit_button.disabled = true
        el.submit_button.classList.remove("button-primary")
        el.loading.classList.remove("hide")
        fetch("/login",{
          method:"post",
          headers:{
            "Content-Type":"application/json"
          }, 
          body:JSON.stringify(data)
        })
        .then(res=>{
          if (res.ok) {
            window.location.replace("/")
          } 
          else if(res.status===400) {
            res.json()
            .then(rep=>{
               const res = JSON.parse(rep)
               throw new Error(res.error)
              })
              .catch((err)=>{
                console.log(err.message)
                el.label_username.querySelector("span").innerHTML = err.message
                el.submit_button.disabled = false
                el.submit_button.classList.add("button-primary")
                el.loading.classList.add("hide")
                return
              })
          }
        }).catch((err)=>{
          console.log(err.message)
          el.label_username.querySelector("span").innerHTML = err.message
          el.submit_button.disabled = true
          el.submit_button.classList.remove("button-primary")
          el.loading.classList.add("hide")
          return
        })
      })
    </script>
    <%- include("partials/footer.ejs") %>
