<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs", {title:"sign up!",signup:true}) %>
  <body>
    <%- include("partials/navbar.ejs") %>
  </div>
    <div class="container">
      <form action="/login" method="post">
        <div class="row">
          <div class="twelve columns">
            <label <% if (error) {  %>
              class="error-text" <% } else { %> class="" <% }%> for="username"
              >Username
              <% if(error) {%>
              <span class="error-text">*<%= error %></span>
              <%}%>
              </label
            >
            <input 
            <% if (error) { %>
            class="u-full-width error" <%} else {%> class="u-full-width" <%}%>
            type="text" name="username" id="username" required />
          </div>
          <label 
          <% if (error) {  %>
            class="error-text" <% } else { %> class="" <% }%>
          for="pswd">Password</label>
          <input
          <% if (error) { %>
            class="u-full-width error" <%} else {%> class="u-full-width" <%}%>
            type="password"
            name="pswd"
            id="pswd"
            required
          />
          <input
            type="submit"
            class="button-primary u-full-width"
            value="login"
          />

        </div>
      </form>
    </div>
    <%- include("partials/footer.ejs") %>

  </body>
</html>
