  <%- include("partials/head.ejs", {title:"sign up!",css_links:[
  "css/signup.css"
]}) %>
  <body>
    <%- include("partials/navbar.ejs") %>
      <form action="/signup" method="post">
        <div class="row">
          <div class="twelve columns">
            <label <% if (error) {  %>
              class="error-text" <% } else { %> class="" <% }%> for="username"
              >Username
              <% if(error) {%>
              <span class="error-text">*<%= error %></span>
              <%}%>
              </label
            >
            <input 
            <% if (error) { %>
            class="u-full-width error" <%} else {%> class="u-full-width" <%}%>
            type="text" name="username" id="username" required />
          </div>
          <label 
          <% if (error) {  %>
            class="error-text" <% } else { %> class="" <% }%>
          for="pswd">Password</label>
          <input
          <% if (error) { %>
            class="u-full-width error" <%} else {%> class="u-full-width" <%}%>
            type="password"
            name="pswd"
            id="pswd"
            required
          />
          <input type="file" name="profile" id="profile" />
          <label class="cstm-file twelve columns" for="profile"
            ><span>Profile Picture (optional)</span>
            <img src="images/file_upload.svg" width="40" height="40" alt="" />
          </label>
          <input
            type="submit"
            class="button-primary u-full-width"
            value="submit"
          />

        </div>
      </form>
    </div>
    <script>
      if(localStorage.getItem("user")){
        window.location.replace("/")
      }
    </script>
    <%- include("partials/footer.ejs") %>

