<!DOCTYPE html>
<html lang="en">
  <%- include("partials/head.ejs", {title:"sign up!",signup:true}) %>
  <body>
    <%- include("partials/navbar.ejs") %>

    <div class="container">
      <form action="/signup" method="post">
        <div class="row">
          <div class="twelve columns">
            <label for="username">Username</label>
            <input
              class="u-full-width"
              type="text"
              name="username"
              id="username"
              required
            />
          </div>
          <label for="pswd">Password</label>
          <input
            class="u-full-width"
            type="password"
            name="pswd"
            id="pswd"
            required
          />
          <input type="file" name="profile" id="profile" />
          <label class="cstm-file twelve columns" for="profile"
            ><span>Profile Picture (optional)</span>
            <img src="images/file_upload.svg" width="40" height="40" alt="" />
          </label>
          <input
            type="submit"
            class="button-primary u-full-width"
            value="submit"
          />

          <!-- <input type="submit" value="register" /> -->
        </div>
      </form>
    </div>
  </body>
</html>
