.blog {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 4px;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.2);
}
.blog-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
hr,
a.read-more {
  width: 100%;
  display: block;
}
a.read-more {
  background-color: #1eaedb;
  color: white !important;
  text-decoration: none;
  margin: 0 !important;
  text-align: center;
  padding: 5px;
}
h3 {
  display: inline;
  width: fit-content !important;
  hyphens: auto !important;
  word-wrap: break-word;
  word-break: break-word;
}
h3,
hr {
  margin: 0 !important;
}
.title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 25px 10px;
}
.blog-info .time {
  width: fit-content;
  font-size: x-small;
  font-family: "Courier New", Courier, monospace;
  background-color: #4094ad;
  padding: 5px;
  color: white;
  border-radius: 5px;
}
.blog-info {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px;
  padding: 10px;
}
.blog-info .author {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: #0ba7d6;
  padding: 5px;
  width: fit-content;
  color: white;
  border-radius: 5px;
}
.blog-info img {
  width: 40px;
  min-width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}
code {
  font-size: medium !important;
  white-space: pre-wrap !important;
  word-wrap: break-word !important;
}
.content-wrapper {
  max-height: 300px;
  overflow: hidden;
  padding: 20px;
}
.content {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  word-break: break-word;
  hyphens: auto;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100% !important;
  margin: 10px auto;
}
.content-wrapper img {
  display: block;
  width: 90%;
  margin: 0 auto;
  aspect-ratio: 4/3;
  object-fit: scale-down;
}

@media (min-width: 550px) {
  form {
    width: 80%;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .content-wrapper img {
    max-width: 700px;
    max-height: 400px;
  }
}

@media (min-width: 768px) {
  .blog-wrapper {
    position: relative;
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
