:root {
  --primary: #1eaedb;
}
input[type="file"] {
  display: none;
}
.wrapper {
  width: 100%;
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: space-between;
}
.wrapper div,
.wrapper input[type="submit"] {
  width: 45%;
  min-width: 240px;
}
.cstm-file {
  display: flex;
  gap: 10px;
  /* padding: 10px 0; */
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  border: 1px solid var(--primary);
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}
.error {
  border: 1px solid rgb(250, 79, 79) !important;
  border-radius: 4px;
}
.error-text {
  color: rgb(161, 18, 18) !important;
  font-size: small;
}

@media (min-width: 768px) {
  .signup-form-wrapper {
    position: relative;
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
}
